.square {
  flex: 1;
  text-align: center;
  display: flex;
  align-items: center;
  font-size: 2.5rem; /*TODO: responsive*/
  box-shadow: 5px 5px 10px #5f5f5f;
}

.square:hover {
  cursor: pointer;
  font-size: 2.75rem;
}

.icon-wrapper {
  margin: auto;
  display: grid;
}

.active-square {
}

.light-square {
  background-color: #D8B589;
}

.dark-square {
  background-color: rgb(141, 23, 23);
}

.light-piece {
  color: whitesmoke;
}

.dark-piece {
  color: black;
}

.square-highlighted {
  color: rgba(255,255,0,0.75);
  font-size: 1.25rem;
}

.inactive-square {
  background-color: transparent;
  color: transparent;
  box-shadow: none;
}
