.light-piece,
.dark-piece {
  z-index: 3;
}

.light-piece.Basic {
  color: var(--basic-light);
}

.dark-piece.Basic {
  color: var(--basic-dark);
}

.light-piece.Scourge {
  color: var(--scourge-light);
}

.dark-piece.Scourge {
  color: var(--scourge-dark);
}
