.chat-box {
  flex: 1;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  padding: 0.5rem;
}

.chat-item {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  gap: 0.5rem;
}

.chat-time {
  color: var(--primary);
  font-weight: bold;
  font-size: 0.8rem;
}

.chat-content {
  flex: 1;
}
