.graveyard {
  /* border: 2px solid whitesmoke; */
  display: flex;
  justify-content: flex-start;
  font-size: 1rem;
  padding: 0.5rem;
  flex-wrap: wrap;
  /* box-shadow: 5px 5px 10px #5f5f5f; */
}

.graveyard .icon-wrapper {
  padding: 0 0.1rem;
  border-bottom: 3px solid rgb(141, 23, 23);
}

.graveyard p {
  font-style: italic;
}
